.s-popular {
  padding: 25px 0;

  @include md-block() {
    padding-right: 10px;
    padding-left: 10px;
  }

  .main-card {
    @include md-block() {
      width: 218px;
    }

    @include sm-block() {
      margin: 0 11px;
      width: auto;
    }
  }

  .swiper-container {
    padding: 10px;
  }

  .swiper-button-prev {
    @include sm-block() {
      left: -2px;
    }
  }

  .swiper-button-next {
    @include sm-block() {
      right: -2px;
    }
  }
}
