.p-about {
  .col-5,
  .col-9 {
    @include size-sm(14);
  }

  .col-5 {
    @include size-md(6);
  }

  .col-9 {
    @include size-md(8);
  }

  &__text {
    margin-bottom: 30px;

    @include md-block() {
      padding-left: 20px;
      padding-right: 20px;
    }

    @include sm-block() {
      margin-bottom: 20px;
    }
  }

  &__team {
    margin-bottom: 40px;
    @include sm-block() {
      margin-bottom: 30px;
    }
  }

  &__img {
    position: relative;

    @include sm-block() {
      width: 80%;
      margin: 0 auto;
      margin-top: 10px;
    }

    @include sm-block() {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 80px 0 0 80px;
      border-color: transparent transparent transparent #ffffff;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }

  &__person {
    text-align: center;

    img {
      margin-bottom: 15px;
      padding: 5px;
      width: 194px;
      height: 194px;
      background-color: #e5e5e5;
      border-radius: 50%;
    }

    &-title {
      margin-bottom: 16px;
      color: #2d2d2d;
      font-size: 18px;
      font-weight: 400;
      text-decoration: underline;
    }

    &-place {
      font-size: 14px;
    }
  }

  .title-wrapper {
    @include md-block() {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 37%;
  }

  .swiper-button-prev {
    left: -25px;
    @include md-block {
      left: 0;
    }
  }

  .swiper-button-next {
    right: -25px;

    @include md-block {
      right: 0;
    }
  }
}
