.header {
  padding: 23px 0 17px 0;

  @include md-block() {
    padding-right: 20px;
    padding-left: 20px;
  }

  .row-flex {
    flex-wrap: nowrap;
    @include md-block() {
      align-items: center;
    }

    @include sm-block() {
      flex-wrap: wrap;
    }
  }

  .col-2-5 {
    @include col();
    @include size(3);
    @include size-sm(8);
    @include size-xs(7);

    &--social {
      padding-left: 24px;
      @include md-block() {
        display: none;
      }
    }
  }

  .col-3 {
    @include size-sm(6);
    @include size-xs(7);
  }

  .col-6 {
    @include size(6);
    @include size-md(8);
    @include size-sm(14);
    @include sm-block() {
      position: relative;
      margin-top: 20px;
      order: 1;
    }
  }

  &__green-phone {
    @include md-block() {
      display: none;
    }
  }

  &__search {
    @include sm-block() {
      margin-left: 70px;
    }

    form {
      position: relative;
      width: 100%;
    }

    input {
      padding: 17px 64px 17px 17px;
      width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      color: #939393;

      border: 1px solid rgba(#939393, 0.5);
      border-radius: 8px;

      &::placeholder {
        opacity: 0.5;
      }

      @include sm-block() {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    button {
      position: absolute;
      top: 50%;
      right: 17px;
      width: 30px;
      height: 30px;
      background: url("../img/icons/search.png") no-repeat center;
      border: none;
      transform: translateY(-50%);
    }
  }

  &__cart {
    display: flex;
    justify-content: flex-end;

    &-title {
      font-size: 20px;
      font-weight: 700;

      @include md-block() {
        font-size: 16px;
      }

      @include sm-block() {
        font-size: 20px;
      }

      @include sm400-block() {
        font-size: 16px;
      }
    }

    &-text {
      margin-right: 12px;
      text-align: end;

      @include md-block() {
        font-size: 11px;

        p {
          margin-bottom: 0;
        }
      }

      @include xs-block() {
        margin-right: 6px;
        font-size: 11px;
      }

      p {
        margin-bottom: 2px;
      }
    }

    &-img {
      img {
        display: block;
        width: 66px;
        height: 60px;

        @include xs-block() {
          width: 49px;
          height: 48px;
        }
      }
    }
  }
}

.burger-menu {
  @include sm-block() {
    display: block;
  }

  display: none;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 0;
  width: 43px;
  height: 43px;
  transform: translateY(-50%);

  .burger-ctalog-trigger {
    position: relative;
    display: inline-block;
    padding-right: 30px;

    &::after {
      content: url("../img/icons/arrow-down-bottom.svg");
      position: absolute;
      top: -1px;
      right: 0;
      width: 15px;
      height: 10px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    background: url("../img/icons/catalog-menu.png") no-repeat center;
    background-color: #8ac864;
    border-radius: 8px;
  }

  &__list {
    @include hide(0.25s);

    position: absolute;
    z-index: 1100;
    top: -160px;
    left: -30px;

    margin-top: 5px;
    padding: 10px 0;

    width: 100vw;
    // height: 100vh;

    background-color: #8ac864;

    li {
      padding: 5px 20px;
      color: #fefefe;
      font-size: 18px;
      font-weight: 700;
    }

    a {
      color: inherit;
    }
  }

  &__close {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 15px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 400;
  }

  .sub-menu {
    display: none;
    p {
      margin-top: 14px;
      font-size: 13px;
      text-transform: uppercase;
    }

    .sub-menu__list {
      a {
        font-size: 14px;
        font-weight: 400;

        &:hover {
          font-weight: 700;
          text-decoration: underline;
          background: none;
        }
      }
    }
  }

  .sub-menu--block {
    display: block;
  }

  &--show {
    @include show();
  }

  &__sub-icon {
    position: relative;
    top: 6px;
    left: 6px;
    display: inline-block;
    padding: 0 20px;
    padding-top: 10px;
    border: 1px solid #000;

    svg {
      transform: rotate(-90deg);
    }
  }
}
