.menu {
  background-color: #8ac864;

  @include sm-block() {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 18px;
    font-weight: 700;
    color: #fefefe;
    white-space: nowrap;

    @include md-block() {
      font-size: 16px;
    }

    a {
      display: inline-block;
      padding: 21px 14px;
      color: inherit;
      transition: $base-transition;

      @include lg-block() {
        padding-right: 13px;
        padding-left: 13px;
      }

      &:hover {
        background-color: #73a952;
      }
    }

    &--catalog {
      position: relative;
      padding: 21px 32px;
      transition: $base-transition;
      cursor: pointer;

      @include lg-block() {
        padding-right: 13px;
      }

      &::before {
        padding-right: 10px;
        content: url("../img/icons/catalog-menu.png");
      }

      &:hover {
        background-color: #73a952;
      }

      .sub-menu {
        @include hide(0.25s);
        position: absolute;
        left: 0;
        z-index: 100;
        min-width: 260px;
        margin-top: 22px;
        padding: 10px 0;
        background-color: #8ac864;
        border-radius: 8px;

        a {
          width: 100%;
          padding: 14px;
          font-size: 16px;
        }

        &--show {
          @include show();
        }
      }
    }
  }
}

.mm-menu {
  width: 30px;
  height: 30px;
  font-size: 15px;
  // padding-left: 2px;
  letter-spacing: 1.2px;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  background-color: #73a952;
  border-radius: 50%;
}

.mm-menu .mm-dropdown-menu {
  display: none;
  position: absolute;
  z-index: 500;
  top: 56px;
  background: #8ac864;
}

.mm-menu:hover .mm-dropdown-menu {
  display: block;
}

.mm-menu .mm-dropdown-menu {
  .menu__item a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}
