/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Swiper */

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

/* End Swiper */

/* Fonts */

@font-face {
  font-family: "bloggersans";
  font-display: swap;
  src: url("../fonts/bloggersansbold.woff") format("woff"), url("../fonts/bloggersansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "bloggersans";
  font-display: swap;
  src: url("../fonts/bloggersansmedium.woff") format("woff"), url("../fonts/bloggersansmedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* End Fonts */

/* Typography */

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #4d4d4d;
}

.main-title {
  color: #fefefe;
  font-family: "bloggersans", sans-serif;
  font-size: 50px;
  font-weight: 700;
}

.second-title {
  padding-bottom: 20px;
  color: #8ac864;
  font-family: "bloggersans", sans-serif;
  font-size: 35px;
  font-weight: 700;
}

/* End Typography */

/* Base styles */

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1366px;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col-1-71,
.col-2,
.col-2-5,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-10 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
}

.col-1-71 {
  width: calc(14.25% - 20px);
}

.col-2 {
  width: calc(16.66667% - 20px);
}

.col-2-5 {
  width: calc(20.83333% - 20px);
}

.col-3 {
  width: calc(25% - 20px);
}

.col-4 {
  width: calc(33.33333% - 20px);
}

.col-5 {
  width: calc(41.66667% - 20px);
}

.col-6 {
  width: calc(50% - 20px);
}

.col-7 {
  width: calc(58.33333% - 20px);
}

.col-10 {
  width: calc(83.33333% - 20px);
}

.logo__img {
  display: block;
  width: 195px;
  height: 93px;
}

.social-block {
  padding-top: 14px;
}

.social-block__link {
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
}

.social-block__link:last-child {
  margin-right: 0;
}

.social-block__img {
  display: block;
  width: 36px;
  height: 36px;
}

.swiper-container-hero {
  overflow: hidden;
}

/* End Base styles */

/* MAIN STYLES */

.top-header {
  padding: 18px 0 13px 0;
  background-color: #fafadd;
}

.top-header .row-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__region {
  position: relative;
  padding-left: 20px;
  font-size: 13px;
}

.top-header__region a {
  font-size: 16px;
  text-decoration: underline;
  color: #37aaff;
}

.top-header__region a:hover {
  text-decoration: none;
}

.top-header__region::before {
  position: absolute;
  top: -3px;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 21px;
  content: '';
  background: url("../img/icons/map-badge.png") no-repeat center center;
}

.top-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-header__menu li {
  padding-right: 14px;
  font-size: 13px;
}

.top-header__menu a {
  font-size: inherit;
  color: inherit;
}

.top-header__menu a:hover {
  text-decoration: underline;
}

.top-header__sign {
  position: relative;
  padding-left: 20px;
  font-size: 13px;
}

.top-header__sign a {
  color: inherit;
}

.top-header__sign a:hover {
  text-decoration: underline;
}

.top-header__sign::before {
  position: absolute;
  top: -3px;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 17px;
  content: '';
  background: url("../img/icons/sign.png") no-repeat center center;
}

.header {
  padding: 23px 0 17px 0;
}

.header__phone {
  margin-bottom: 11px;
}

.header__phone a {
  font-family: "bloggersans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #8ac864;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.header__phone a:hover {
  color: #509a23;
}

.header__search form {
  position: relative;
  width: 100%;
}

.header__search input {
  padding: 17px 64px 17px 17px;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
  color: #939393;
  border: 1px solid rgba(147, 147, 147, 0.5);
  border-radius: 8px;
}

.header__search input::-webkit-input-placeholder {
  opacity: .5;
}

.header__search input::-moz-placeholder {
  opacity: .5;
}

.header__search input:-ms-input-placeholder {
  opacity: .5;
}

.header__search input::-ms-input-placeholder {
  opacity: .5;
}

.header__search input::placeholder {
  opacity: .5;
}

.header__search button {
  position: absolute;
  top: 50%;
  right: 17px;
  width: 30px;
  height: 30px;
  background: url("../img/icons/search.png") no-repeat center;
  border: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__cart-title {
  font-size: 20px;
  font-weight: 700;
}

.header__cart-text {
  margin-right: 12px;
  text-align: end;
}

.header__cart-text p {
  margin-bottom: 2px;
}

.header__cart-img img {
  display: block;
  width: 66px;
  height: 60px;
}

.menu {
  background-color: #8ac864;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  font-size: 18px;
  font-weight: 700;
  color: #fefefe;
}

.menu__item a {
  display: inline-block;
  padding: 21px 14px;
  color: inherit;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.menu__item a:hover {
  background-color: #73a952;
}

.menu__item--catalog a {
  padding-right: 32px;
  padding-left: 32px;
}

.menu__item--catalog a::before {
  padding-right: 10px;
  content: url("../img/icons/catalog-menu.png");
}

.hero {
  color: #ffffff;
}

.hero__content {
  height: 559px;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.hero__body {
  max-width: 532px;
  padding-top: 140px;
}

.hero__title {
  margin-bottom: 42px;
}

.hero__descr {
  margin-bottom: 56px;
  font-size: 16px;
}

.hero__btn {
  display: inline-block;
  padding: 21px 19px;
  color: #ff3f3f;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.hero__btn:hover {
  border: 2px solid white;
}

.s-assortment {
  padding-top: 50px;
}

.s-assortment__btn {
  display: block;
  width: 177px;
  margin: 30px 0;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 18px;
  color: #ff3f3f;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 6px;
  border: 2px solid rgba(194, 194, 194, 0.5);
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.s-assortment__btn:hover {
  border: 2px solid #c2c2c2;
}

.s-assortment-card {
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
}

.s-assortment-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 125px;
}

.s-assortment-card__text {
  padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.s-assortment-card__text a {
  color: #2d2d2d;
  font-size: 18px;
  text-decoration: underline;
}

.s-assortment-card__text a:hover {
  text-decoration: none;
}

.s-assortment-card--1 {
  background-color: #6396a7;
}

.s-assortment-card--1 .s-assortment-card__text {
  background-color: rgba(255, 255, 255, 0.75);
}

.s-assortment-card--2 {
  background-color: #62749a;
}

.s-assortment-card--3 {
  background-color: #1d434c;
}

.s-assortment-card--4 {
  background-color: #acb538;
}

.s-assortment-card--5 {
  background-color: #f9ad3a;
}

.s-assortment-card--6 {
  background-color: #419186;
}

.s-assortment-card--7 {
  background-color: #b9a280;
}

.s-popular {
  padding: 25px 0;
}

.s-new-items {
  padding: 25px 0;
}

.s-news {
  padding: 25px 0;
}

/* END MAIN STYLES */