.p-assortment {
  &__row {
    @include row-flex();
    padding-bottom: 20px;
  }

  &__col-3 {
    @include col();
    @include size(3);
  }

  &__filter-btn {
    margin-bottom: 20px;
  }

  &__filter {
    margin-bottom: 14px;
    padding: 0 15px;
    border-radius: 12px;
    border: 1px solid #b6b6b6;
  }

  &__filter-title {
    position: relative;
    margin: 0 -15px;
    padding: 18px 43px;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 700;
    background-color: #fafadd;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #b6b6b6;

    &::before {
      content: url("../img/icons/filter-icon.png");
      position: absolute;
      top: 50%;
      left: 15px;
      width: 19px;
      height: 21px;
      transform: translateY(-50%);
    }
  }

  &__filter-reset {
    width: 100%;
    padding: 20px;
    color: #f24946;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid #b6b6b6;
    transition: $base-transition;
    
    &:hover {
      
      color: #ffffff;
      background-color: #f24946;
      border: 1px solid #f24946;
    }
  }

  &__base-btn {
    position: relative;
    padding-left: 24px;
    background-color: #ffffff;
    
    &::before {
      content: url('../img/icons/circle-arrow.png');
      position: absolute;
      top: 50%;
      left: 14px;
      width: 24px;
      height: 20px;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: #ffffff;
      color: #f24946;
    }
  }
}
