.p-assortment {
  .second-title {
    @include md-block() {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__row {
    @include row-flex();
    padding-bottom: 20px;

    @include md-block() {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 0;
    }
  }

  .col-3,
  .col-11 {
    @include size-md(14);
  }

  &__col-3-5 {
    padding-bottom: 20px;
    @include col();
    @include size(3.5);
    @include size-lg(4.66);
    @include size-sm(7);
    @include size-sm400(14);
  }

  .main-card {
    @include sm-block() {
      width: auto;
    }
    @media screen and (max-width: 440px) {
      max-width: 290px;
      width: 100%;
      margin: 0 auto;
    }
  }

  &__filter-btn {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    @include md-block() {
      display: block;
      flex-wrap: nowrap;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__filter {
    margin-bottom: 14px;
    padding: 0 15px;
    background-color: #ffffff;

    border-radius: 12px;
    border: 1px solid #b6b6b6;

    @include md-block() {
      display: none;
      position: absolute;
      z-index: 50;
      top: 100px;
      left: 20px;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    }

    @include sm-block() {
      top: 145px;
    }

    @include sm400-block() {
      top: 185px;
    }
  }

  &__filter-title {
    position: relative;
    margin: 0 -15px;
    padding: 16px 43px;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 700;
    background-color: #fafadd;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #b6b6b6;

    &::before {
      content: url("../img/icons/filter-icon.png");
      position: absolute;
      top: 50%;
      left: 15px;
      width: 19px;
      height: 21px;
      transform: translateY(-50%);
    }

    @include md-block() {
      border-radius: 12px;
      padding-top: 8px;
      padding-right: 18px;
      padding-bottom: 8px;
      display: none;

      @include sm400-block {
        font-size: 0;
        padding-left: 31px;
        padding-top: 18px;
        padding-bottom: 18px;
      }
    }

    &--trigger {
      display: none;
      border: 1px solid #b6b6b6;

      @include md-block() {
        display: block;
      }
    }
  }

  &__filter-reset {
    width: 100%;
    padding: 20px;
    color: #f24946;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid #b6b6b6;
    transition: $base-transition;

    &:hover {
      color: #ffffff;
      background-color: #f24946;
      border: 1px solid #f24946;
    }

    @include lg-block() {
      margin-bottom: 20px;
    }

    @include md-block() {
      display: none;
    }
  }

  &__base-btn {
    position: relative;
    margin-left: 26%;
    padding: 16px 0;
    padding-left: 24px;
    background-color: #ffffff;

    &::before {
      content: url("../img/icons/circle-arrow.png");
      position: absolute;
      top: 50%;
      left: 14px;
      width: 24px;
      height: 20px;
      transform: translateY(-50%);
    }

    &:hover {
      background-color: #ffffff;
      color: #f24946;
    }

    @include md-block() {
      margin-left: 0;
    }

    @include sm-block() {
      margin: auto;
      margin-bottom: 18px;
    }
  }

  &__pagination {
    @include md-block() {
      margin-bottom: 20px;
    }

    @include md-block() {
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
    }

    @include sm-block() {
      flex-wrap: wrap;
    }
  }

  @include md-block() {
    .seo-content {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
