body {
  position: relative;
}

.main-body {
  display: flex;
  margin: 0 auto;
  max-width: 1366px;
  min-height: 100%;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
  overflow: hidden;

  &__bg-img {
    position: absolute;
    z-index: -1;

    @include md-block() {
      display: none;
    }

    &--1 {
      top: 850px;
      left: 0;

      &-about {
        top: 230px;
      }

      &-assort {
        top: 230px;
      }
    }

    &--2 {
      top: 900px;
      right: 0px;

      &-about {
        top: 380px;
      }

      &-assort {
        top: 380px;
      }
    }

    &--2a {
      top: 2300px;
      right: 0px;
    }

    &--3 {
      top: 1250px;
      left: 0;

      &-about {
        top: 730px;
      }

      &-assort {
        top: 730px;
      }
    }

    &--4 {
      top: 1250px;
      right: 0px;

      &-about {
        top: 750px;
      }

      &-assort {
        top: 750px;
      }
    }

    &--4a {
      top: 1800px;
      left: 0;
      transform: rotate(180deg);
    }
  }
}

.container {
  @include container();
}

.row-flex {
  @include row-flex();
}

.col-2,
.col-2-5,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11 {
  @include col();
}

.col-2 {
  @include size(2);
}

.col-3 {
  position: relative;
  @include size(3);
}

.col-4 {
  @include size(4);
}

.col-5 {
  @include size(5);
}

.col-6 {
  @include size(6);
}

.col-7 {
  @include size(7);
  @include size-sm(14);
}

.col-8 {
  @include size(8);
}

.col-9 {
  @include size(9);
}

.col-10 {
  @include size(10);
}

.col-11 {
  @include size(11);
}

.logo {
  &__img {
    display: block;
    width: 195px;
    height: 93px;

    @include lg-block() {
      width: 130px;
      height: 61px;
    }
  }
}

.green-phone {
  margin-bottom: 11px;

  a {
    font-family: $second-typeface;
    font-size: 20px;
    font-weight: 700;
    color: #8ac864;
    transition: $base-transition;

    &:hover {
      color: #509a23;
    }
  }
}

.social-block {
  display: flex;
  justify-content: center;
  padding-top: 14px;

  &__link {
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__img {
    display: block;
    width: 36px;
    height: 36px;
  }
}

.base-btn {
  display: block;
  width: 177px;
  padding: 20px 0;

  color: #ff3f3f;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  border-radius: 6px;
  border: 2px solid rgba(#c2c2c2, 0.5);
  transition: $base-transition;

  &:hover {
    color: #ffffff;
    background-color: #ff3f3f;
    border: 2px solid #ff3f3f;
  }
}

.main-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 355px;
  border-radius: 12px;
  border: 1px solid #b6b6b6;
  background-color: #fff;
  transition: $base-transition;

  @include sm-block() {
    padding: 15px;
  }

  @media screen and (max-width: 460px) {
    margin: 0 30px;
  }

  &:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  }

  // .main-card__img

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    padding-bottom: 20px;

    a {
      display: block;
    }

    img {
      display: block;
      object-fit: cover;
    }
  }

  // .main-card__descr

  &__descr {
    flex-grow: 1;
    font-size: 14px;
    text-decoration: underline;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  // .main-card__price

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;

    p {
      position: relative;
      padding-right: 18px;
      font-size: 20px;
      font-weight: 700;

      &::before {
        content: url("../img/icons/rubble.png");
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 14px;
        height: 14px;
      }
    }

    &--sale {
    }
  }

  &__price-count {
    display: flex;
    width: 68px;
    height: 30px;
    align-items: center;
    justify-content: space-around;

    border-radius: 8px;
    border: 1px solid #b6b6b6;

    input {
      width: 26px;
      text-align: center;
      border: none;
    }

    span {
      flex-grow: 1;
      display: block;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }
  }

  // .main-card__btn

  &__btn {
    padding: 12px;

    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    border: none;
    border-radius: 8px;
    background-color: #8ac864;
    transition: $base-transition;

    span {
      position: relative;
      padding-left: 25px;

      &::before {
        content: url("../img/icons/small-cart.png");
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: block;
        width: 22px;
        height: 22px;
      }
    }

    &:hover {
      background-color: #4d9a1e;
    }
  }
}

.map {
  position: relative;
  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.copyright {
  font-size: 14px;
  text-transform: uppercase;
}

.seo-main-title,
.seo-sub-title {
  margin-bottom: 6px;
  font-family: $second-typeface;
  font-size: 22px;
  font-weight: 500;
}
.seo-sub-title {
  font-size: 20px;
}

.seo-text {
  p {
    margin-bottom: 12px;
    line-height: 17px;
  }
}

.seo-list {
  padding-bottom: 20px;
  padding-left: 30px;

  li {
    padding-bottom: 4px;
    list-style: disc;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.filter-btn {
  .filter-btn__wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include lg-block() {
      justify-content: flex-start;
    }
  }

  .filter-btn__btn {
    margin-right: 12px;
    margin-bottom: 10px;
    padding: 8px 11px;
    font-size: 14px;
    text-decoration: underline;

    color: #4d4d4d;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #b6b6b6;
    outline: none;
    transition: $base-transition;

    &:hover {
      border: 1px solid #4d4d4d;
    }

    @include lg-block() {
      margin-right: 10px;
    }
  }

  .filter-btn__sort {
    display: inline-block;
    margin-bottom: 10px;

    @include md-block() {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 5px;
    }

    select {
      padding: 8px 11px;
      color: #c1c1c1;
      border-radius: 8px;
      border: 1px solid #b6b6b6;
      outline: none;

      @media screen and (max-width: 340px) {
        padding: 8px 0;
      }
    }
  }
}

.pagination {
  margin-left: auto;
  display: flex;
  align-items: center;

  // .pagination__prev-btn

  &__prev-btn,
  &__next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 50px;
    background-color: #8ac864;
    border: none;
    border-radius: 4px;
  }

  // .pagination__next-btn

  &__prev-btn {
    transform: rotate(-180deg);
  }

  // .pagination__list

  &__list {
    display: flex;
    align-items: center;
    margin: 0 9px;
    border-radius: 6px;
  }

  // .pagination__item

  &__item {
    border: 2px solid rgba(#c2c2c2, 0.5);
    border-right: none;
    transition: $base-transition;

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      border-right: 2px solid rgba(#c2c2c2, 0.5);

      border-radius: 0 6px 6px 0;
    }
  }

  a {
    display: inline-block;
    padding: 16px;

    color: #4d4d4d;
    font-size: 16px;
    font-weight: 700;

    @include sm-block() {
      padding: 13px;
    }
  }

  .pagination__item--active {
    background-color: #8ac864;
    border-right: 2px solid #8ac864;

    a {
      color: #ffffff;
    }
  }
}

.filter {
  @include md-block() {
    position: relative;
  }

  &__sub-title {
    position: relative;
    padding-bottom: 10px;
    margin: 16px 0 12px 0;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    border-bottom: 1px solid #b6b6b6;
    cursor: pointer;

    &::after {
      content: url("../img/icons/arrow-down-icon.svg");
      position: absolute;
      top: 0;
      right: 3px;
    }

    &--arrow-right {
      &::after {
        transform: rotate(-90deg);
      }
    }
  }

  &__list {
    li {
      padding-bottom: 10px;
    }
  }

  .hide-filter-list {
    @include dispalyNone(0.3s);
  }
}

.custom-checkbox {
  &__label {
    display: inline-flex;
    align-items: baseline;
    cursor: pointer;
  }

  &__base {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__new {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #4d4d4d;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.15s linear;
  }

  &__new::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #8ac864;
    border-radius: 2px;
    transition: all 0.15s linear;
  }

  &__base:checked + &__new::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &__base:focus + &__new {
    border: 1px solid #8ac864;
  }

  &__text {
    padding: 0 5px;
    font-size: 14px;
    color: $base-text-color;
  }
}

// SWIPER
.swiper-container-wrapper {
  position: relative;
}

.swiper-container-hero {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 45%;
  left: -10px;
  z-index: 10;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  background: url("../img/icons/left-arrow.svg") no-repeat center;
  background-color: #bae2a1;
  border-radius: 50%;
  transition: $base-transition;
  cursor: pointer;

  &:hover {
    background-color: #4d9a1e;
  }
}

.swiper-button-prev {
}

.swiper-button-next {
  right: -10px;
  left: auto;
  transform: translateY(-50%) rotate(180deg);
}

.swiper-pagination {
  position: absolute;
  left: 400px;
  display: inline-block;
  z-index: 1000;
  border: 1px solid red;
  width: 50px;
  height: 50px;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: red;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transform: scale(0.33);
  position: relative;
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  transform: scale(1);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  transform: scale(0.33);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  transform: scale(0.66);
}
.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  transform: scale(0.33);
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
}
.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  transition: 200ms transform, 200ms top;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
}
.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}
