body {
    font-family: $base-typeface;
    font-size: $base-font-size;
    color: $base-text-color;
}

.title-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.title-line {
    position: relative;
    display: inline-block;
    margin-left: 25px;

    &::after {
        content: url('../img/line-for-title.png');
        position: absolute;
        bottom: 50%;
    }
}

.main-title {
    color: #fefefe;
    font-family: $second-typeface;
    font-size: 50px;
    font-weight: 700;

    @include sm-block() {
        font-size: 26px;
    }
}

.second-title {
    padding-bottom: 20px;
    color: #8ac864;
    font-family: $second-typeface;
    font-size: 35px;
    font-weight: 700;
    
    @include sm-block() {
        font-size: 24px;
      }
}
