body {
    font-family: $base-typeface;
    font-size: $base-font-size;
    color: $base-text-color;
}

.main-title {
    color: #fefefe;
    font-family: $second-typeface;
    font-size: 50px;
    font-weight: 700;
}

.second-title {
    padding-bottom: 20px;
    color: #8ac864;
    font-family: $second-typeface;
    font-size: 35px;
    font-weight: 700;
}
