.top-header {
  padding: 18px 0 13px 0;
  background-color: #fafadd;

  .col-2 {
    @include size-lg(3);
    @include size-md(4);
    @include size-sm(7);
  }

  .col-3 {
    @include size-md(4);
    @include size-sm(7);
  }

  .col-9 {
    @include size-lg(8);
    @include size-md(6);
    @include sm-block() {
      display: none;
    }
  }

  .row-flex {
    align-items: center;

    @include md-block() {
      justify-content: space-between;
    }
  }

  &__region {
    position: relative;
    padding-left: 20px;
    font-size: 13px;

    @include md-block() {
      display: none;
    }

    a {
      font-size: 16px;
      text-decoration: underline;
      color: #37aaff;

      &:hover {
        text-decoration: none;
      }
    }

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      display: inline-block;
      width: 14px;
      height: 21px;
      content: "";
      background: url("../img/icons/map-badge.png") no-repeat center center;
    }
  }

  &__green-phone {
    display: none;

    a {
      font-size: 16px;
      @include md-block() {
        font-size: 15px;
      }
    }

    @include md-block() {
      display: block;
      margin-bottom: 0;
    }
  }

  &__menu {
    display: flex;

    @include sm-block() {
      display: none;
    }

    li {
      padding-right: 14px;
      font-size: 13px;
    }

    a {
      font-size: inherit;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__sign-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__sign {
    position: relative;
    padding-left: 20px;
    font-size: 13px;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      display: inline-block;
      width: 14px;
      height: 17px;
      content: "";
      background: url("../img/icons/sign.png") no-repeat center center;
    }
  }
}
