.top-header {
  padding: 18px 0 13px 0;
  background-color: #fafadd;

  @include md-block() {
    padding-left: 20px;
    padding-right: 20px;
  }

  .col-2 {
    @include size-lg(3);
    @include size-md(5);
    @include size-sm(7);
  }

  .col-3 {
    @include size-md(3);
    @include size-sm(7);
  }

  .col-9 {
    @include size-lg(8);
    @include size-md(6);
    @include sm-block() {
      display: none;
    }
  }

  .row-flex {
    align-items: center;

    @include md-block() {
      justify-content: space-between;
    }
  }

  &__region {
    position: relative;
    padding-left: 20px;
    font-size: 13px;

    @include md-block() {
      display: none;
    }

    span {
      font-size: 16px;
      text-decoration: underline;
      color: #37aaff;
      cursor: pointer;
    }

    &::before {
      position: absolute;
      top: -3px;
      left: 0;
      display: inline-block;
      width: 14px;
      height: 21px;
      content: "";
      background: url("../img/icons/map-badge.png") no-repeat center center;
    }
  }

  &__green-phone {
    display: none;
    white-space: nowrap;

    a {
      font-size: 16px;
      @include md-block() {
        font-size: 15px;
      }
    }

    @include md-block() {
      display: block;
      margin-bottom: 0;
    }
  }

  &__menu {
    display: flex;
    margin-left: -16px;
    white-space: nowrap;

    @include sm-block() {
      display: none;
    }

    li {
      padding-right: 14px;
      font-size: 13px;
    }

    a {
      font-size: inherit;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__sign-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__sign {
    position: relative;
    padding-left: 20px;
    font-size: 13px;

    @include xs-block() {
      padding-left: 17px;
      white-space: nowrap;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: -3px;
      left: 0;
      display: inline-block;
      width: 14px;
      height: 17px;
      background: url("../img/icons/sign.png") no-repeat center center;
    }
  }

  .region-popup {
    position: absolute;
    top: 25px;
    left: 95px;
    z-index: 100;
    display: none;
    background-color: #ffffff;
    border: 1px solid rgba(147, 147, 147, 0.5);
    border-radius: 8px;

    &__list {
      padding: 9px 12px;
    }

    &__item {
      padding: 5px 0;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
