.s-news {
  padding: 25px 0;

  &__base-btn {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;

    @include sm-block() {
      display: none;
    }
  }
}

.news-item {
  // .news-item__img
  @include sm-block() {
    padding-bottom: 20px;
  }

  &__img {
    max-height: 181px;
    margin-bottom: 17px;
    border-radius: 12px;

    img {
      display: block;
      width: 100%;
      height: 181px;
      object-fit: cover;
      border-radius: 12px;
    }

    a {
      display: block;
    }
  }

  // .news-item__body

  &__body {
  }

  // .news-item__title

  &__title {
    margin-bottom: 10px;
    font-family: $second-typeface;
    font-size: 20px;
    font-weight: 500;

    a {
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .news-item__descr

  &__descr {
    margin-bottom: 30px;
  }

  // .news-item__details

  &__details {
    span {
      position: relative;
      margin-right: 60px;
      padding-left: 22px;
      color: #939393;
      font-size: 14px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: inline-block;
        width: 17px;
        height: 14px;
        background: url("../img/icons/time.png") no-repeat center;
      }
    }

    a {
      color: #37aaff;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
