.p-contacts {
  padding-bottom: 70px;

  .col-6 {
    @include size-md(7);
    @include size-sm(14);
  }
  .col-8 {
    @include size-md(7);
    @include size-sm(14);
  }

  @include sm-block() {
    padding-bottom: 0;

    .second-title {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .map {
    height: 256px;
  }
}

.contacts-block {
  padding-left: 125px;
  padding-bottom: 30px;

  @include md-block() {
    padding-left: 10px;
  }

  @include sm-block() {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

  &__address {
    margin-bottom: 13px;
    padding-left: 25px;
    p {
      font-size: 18px;
    }
  }

  &__tel {
    margin-bottom: 13px;
    padding-left: 25px;

    a {
      color: #37aaff;
      font-size: 18px;
    }
  }

  &__mail {
    margin-bottom: 13px;
    padding-left: 25px;

    a {
      font-size: 18px;
      color: $base-text-color;
    }
  }

  &__time {
    padding-left: 25px;

    p {
      font-size: 18px;
    }
  }

  &__address,
  &__tel,
  &__mail,
  &__time {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &__address {
    &::before {
      content: url("../img/icons/map-badge.png");
    }
  }

  &__tel {
    &::before {
      content: url("../img/icons/icon-phone1.png");
    }
  }

  &__mail {
    &::before {
      content: url("../img/icons/icon-mail.png");
    }
  }

  &__time {
    &::before {
      content: url("../img/icons/icon-time.png");
    }
  }
}

.contacts-form {
  padding-left: 125px;

  @include md-block() {
    padding-left: 10px;
  }

  @include sm-block() {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  @include sm400-block() {
    padding-bottom: 25px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
  }

  &__form {
    width: 100%;

    label {
      display: block;
      margin-bottom: 21px;

      & > span {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;

        span {
          color: #fc2121;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 12px 17px;
        border-radius: 8px;
        border: 1px solid #b6b6b6;
        background-color: #ffffff;
      }

      textarea {
        height: 133px;
      }
    }

    button {
      padding: 18px 50px;
      border-radius: 8px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      border: 1px solid #8ac864;
      background-color: #8ac864;

      transition: $base-transition;

      &:hover {
        color: #8ac864;
        background-color: #ffffff;
      }
    }
  }

  &__privacy {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #8ac864;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
