.s-assortment {
  padding-top: 50px;

  @include md-block() {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include xl-block() {
    .row-flex {
      justify-content: center;
    }
  }

  .title-wrapper {
    @include md-block() {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .col-2 {
    @include size(2);
    @include size-xl(3);
    @include size-sm(4.66);
    @include size-sm400(7);
    margin-bottom: 20px;
  }

  &__base-btn {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}

.s-assortment-card {
  display: block;
  text-align: center;
  border-radius: 12px;
  background-color: rgba(#ffffff, 0.75);
  overflow: hidden;
  transition: $base-transition;

  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
    overflow: hidden;

    img {
      transition: $base-transition;
    }
  }

  &:hover &__text {
    text-decoration: underline;
  }

  &:hover {
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.5);
  }

  &__text {
    padding: 10px 0;
    background-color: rgba(#ffffff, 0.75);

    color: #2d2d2d;
    font-size: 18px;
  }

  &--1 {
    background-color: #6396a7;

    .s-assortment-card__text {
      background-color: rgba(#ffffff, 0.75);
    }
  }

  &--2 {
    background-color: #62749a;
  }

  &--3 {
    background-color: #1d434c;
  }

  &--4 {
    background-color: #acb538;
  }

  &--5 {
    background-color: #f9ad3a;
  }

  &--6 {
    background-color: #419186;
  }

  &--7 {
    background-color: #b9a280;
  }
}
