.s-assortment {
  padding-top: 50px;

  @include xl-block() {
    .row-flex {
      justify-content: center;
    }

    .col-1-71 {
      @include size(3);
      margin-bottom: 20px;
    }
  }

  @include md-block() {
    .col-1-71 {
      @include size(4);
    }
  }

  @include sm-block() {
    .col-1-71 {
      @include size(6);
    }
  }

  &__base-btn {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;

    // @include sm-block() {
    //   display: none;
    // }
  }
}

.s-assortment-card {
  text-align: center;
  border-radius: 12px;
  overflow: hidden;

  &__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
  }

  &__text {
    padding: 10px 0;
    background-color: rgba(#ffffff, 0.75);

    a {
      color: #2d2d2d;
      font-size: 18px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--1 {
    background-color: #6396a7;

    .s-assortment-card__text {
      background-color: rgba(#ffffff, 0.75);
    }
  }

  &--2 {
    background-color: #62749a;
  }

  &--3 {
    background-color: #1d434c;
  }

  &--4 {
    background-color: #acb538;
  }

  &--5 {
    background-color: #f9ad3a;
  }

  &--6 {
    background-color: #419186;
  }

  &--7 {
    background-color: #b9a280;
  }
}
