.p-cart {
  padding-bottom: 71px;

  &__cart-item {
    margin-bottom: 22px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    margin-bottom: 20px;
    padding: 18px 35px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;

    background-color: #8ac864;
    border-radius: 8px;
    border: 1px solid #8ac864;
    text-transform: uppercase;

    transition: $base-transition;
    cursor: pointer;

    &:hover {
      color: #8ac864;
      background-color: #ffffff;
    }
  }

  &__order-wrapper {
    display: flex;
    // padding-bottom: 49px;
  }

  .custom-checkbox {
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
    }

    &__label {
      display: inline-flex;
      align-items: baseline;
      cursor: pointer;
    }

    &__base {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }

    &__new {
      flex-shrink: 0;
      position: relative;
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 10px 13px;
      font-size: 14px;
      border: 1px solid #8ac864;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.15s linear;
    }

    &__new::before {
      display: none;
    }

    &__base:checked + .custom-checkbox__new {
      background-color: #8ac864;
      color: #ffffff;
    }
  }

  .title-wrapper {
    margin-top: 49px;
  }
}

// CART-ITEM
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 14px 15px;

  border-radius: 12px;
  border: 1px solid #b6b6b6;

  &__img {
    img {
      width: 138px;
      height: 85px;
    }
  }

  &__title {
    width: 225px;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 700;
  }

  &__counter {
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
  }

  &__close {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #b6b6b6;

  span {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
  }

  input {
    width: 100%;
    appearance: none;
    border: none;
    text-align: center;
  }
}

.warning-block {
  position: relative;
  padding: 17px 40px 17px 95px;

  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  background-color: #e3f7ff;
  border-radius: 12px;
  border: 1px solid #b6b6b6;

  &::before {
    content: url("../img/icons/icon-warning.png");
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    display: inline-block;
    width: 45px;
    height: 45px;
  }
}

.ordering-block {
  padding-bottom: 18px;

  border-radius: 12px;
  border: 1px solid #b6b6b6;

  .p-cart__btn {
    width: 100%;
    margin-bottom: 10px;
  }

  &__title {
    padding: 15px 0;
    color: #ffffff;
    font-family: $second-typeface;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    background-color: #8ac864;
    border-radius: 12px 12px 0 0;
  }

  &__form {
    padding: 0 10px;
    padding-top: 20px;

    input {
      width: 100%;
      margin-bottom: 22px;
      padding: 12px 10px;
      border-radius: 8px;
      border: 1px solid #b6b6b6;

      color: #939393;
      font-size: 13px;
      font-weight: bold;

      &::placeholder {
        text-transform: uppercase;
      }
    }
  }

  &__counter-item {
    h4 {
      color: #b6b6b6;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__counter-price {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 12px;

    .text {
      font-size: 14px;
      font-weight: 400;
    }

    .price {
      font-size: 14px;
      font-weight: 700;
    }
  }

  &__counter-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 14px;

    h4 {
      color: #b6b6b6;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      font-size: 21px;
      font-weight: 700;

      span {
        color: #8ac864;
        font-size: 21px;
        font-weight: 700;
      }
    }
  }

  &__privacy {
    padding: 0 10px;
    text-align: center;

    color: #b6b6b6;
    font-size: 10px;

    a {
      color: #8ac864;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.order-details {
  &__form {
    textarea {
      width: 100%;
      height: 153px;
      margin-bottom: 20px;
      padding: 11px;

      font-size: 14px;
      font-weight: 400;

      border-radius: 8px;
      border: 1px solid #b6b6b6;
    }

    .p-cart__btn {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__row {
    @include row-flex();
    padding: 20px 0;
  }

  &__col-4,
  &__col-5,
  &__col-9 {
    @include col();
    // border: 1px solid #000;
  }

  &__col-4 {
    @include size(4);
  }

  &__col-5 {
    @include size(5);
  }

  &__col-9 {
    @include size(9);
  }

  &__label {
    // width: 100%;

    h5 {
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      color: #4d4d4d;
      border-radius: 8px;
      border: 1px solid #b6b6b6;
    }

    input {
      
    }
  }
}
