.p-cart {
  span {
    display: block;
  }

  position: relative;
  padding-bottom: 70px;

  .col-3 {
    @include size-md(4.5);

    @include sm-block() {
      width: 0;
      height: 0;
    }

    @include md-block() {
      padding-right: 20px;
    }
  }

  .col-11 {
    @include size-md(9.5);
    @include size-sm(14);

    @include md-block() {
      padding-left: 20px;
      padding-right: 10px;
    }

    @include sm-block() {
      padding-right: 20px;
    }
  }

  .title-wrapper {
    @include md-block {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 14px;
    }
  }

  &__cart-item {
    margin-bottom: 22px;
  }

  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    margin-bottom: 20px;
    padding: 16px 30px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;

    background-color: #8ac864;
    border-radius: 8px;
    border: 1px solid #8ac864;
    text-transform: uppercase;

    transition: $base-transition;
    cursor: pointer;

    &:hover {
      color: #8ac864;
      background-color: #ffffff;
    }

    @include sm400-block() {
      width: 100%;
    }

    &--order {
      display: none;
      width: 100%;
      padding: 11px;
      margin-left: 30px;
      margin-right: 30px;

      @include sm-block() {
        display: block;
      }
    }
  }

  &__order-wrapper {
    display: flex;
    margin-bottom: 49px;

    @include md-block() {
      flex-wrap: wrap;
      margin-bottom: 35px;
    }

    &--time {
      @include sm400-block() {
        justify-content: space-between;
      }
    }
  }

  .custom-checkbox {
    margin-right: 22px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }

    @include md-block() {
      margin-bottom: 22px;
    }

    @include sm400-block() {
      width: 100%;
      margin-right: 0;
      margin-bottom: 11px;
    }

    &__label {
      display: flex;
      align-items: baseline;
      cursor: pointer;
    }

    &__base {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }

    &__new {
      position: relative;
      display: inline-block;
      width: 100%;
      height: auto;
      padding: 10px 13px;
      font-size: 14px;
      border: 1px solid #b6b6b6;
      border-radius: 8px;
      overflow: hidden;
      transition: all 0.15s linear;

      @include md-block() {
        padding: 10px 10px;
      }

      @include sm400-block() {
        padding-top: 7px;
        padding-bottom: 7px;
        text-align: center;
      }
    }

    &__new::before {
      display: none;
    }

    &__base:checked + .custom-checkbox__new {
      color: #ffffff;
      background-color: #8ac864;
      border: 1px solid #8ac864;
    }

    &--time {
      @include sm400-block() {
        width: 49%;
      }
    }
  }

  .swiper-container-cart {
    position: relative;
    overflow: hidden;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 50px;
    padding: 10px 30px;

    .swiper-button-prev {
      left: 6px;
    }
    .swiper-button-next {
      right: 6px;
    }
  }
}

// CART-ITEM
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 14px 15px;

  border-radius: 12px;
  border: 1px solid #b6b6b6;

  @include sm400-block() {
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  &__img {
    @include md-block() {
      margin-right: 16px;
    }

    @include sm400-block() {
      margin-right: 0;
    }

    img {
      width: 138px;
      height: 85px;
    }
  }

  &__title {
    width: 225px;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 700;

    @include md-block() {
      font-size: 14px;
    }

    @include md-block() {
      width: 100%;
    }
  }

  &__price-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @include md-block() {
      justify-content: flex-start;
    }
  }

  &__counter {
    margin-left: 90px;
    margin-right: 100px;

    @include md-block() {
      margin-top: 8px;
      margin-left: 0;
      margin-right: 30px;
    }

    @include sm400-block() {
      margin-top: 17px;
    }
  }

  &__price {
    font-size: 20px;
    font-weight: 700;

    @include md-block() {
      margin-top: 8px;
    }

    @include sm400-block() {
      margin-top: 14px;
      font-size: 24px;
    }
  }

  &__close {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;

    @include sm400-block() {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 68px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid #b6b6b6;

  @include sm400-block() {
    width: 128px;
    height: 40px;
  }

  span {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
  }

  input {
    width: 100%;
    appearance: none;
    border: none;
    text-align: center;
  }
}

.warning-block {
  position: relative;
  margin-bottom: 50px;
  padding: 17px 40px 17px 95px;

  color: #4d4d4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  background-color: #e3f7ff;
  border-radius: 12px;
  border: 1px solid #b6b6b6;

  &::before {
    content: url("../img/icons/icon-warning.png");
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    display: inline-block;
    width: 45px;
    height: 45px;
  }

  @include sm400-block() {
    padding: 85px 17px 17px 17px;

    &::before {
      top: 20px;
      left: 50%;
      transform: translateY(0);
      transform: translateX(-50%);
    }
  }
}

.ordering-block {
  .p-cart__btn {
    width: 100%;
    margin-bottom: 10px;
  }

  @include sm-block() {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    padding-bottom: 18px;

    border-radius: 12px;
    border: 1px solid #b6b6b6;

    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border: none;
  }

  &__close {
    display: none;
    position: absolute;
    top: -24px;
    right: -24px;

    @include sm-block() {
      display: block;
    }
  }

  &__body {
    position: relative;
    height: auto;
    padding-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #b6b6b6;
    border-radius: 13px;

    @include sm-block() {
      width: 270px;
    }
  }

  &__title {
    padding: 15px 0;
    color: #ffffff;
    font-family: $second-typeface;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    background-color: #8ac864;
    border-radius: 12px 12px 0 0;
  }

  &__form {
    padding: 0 10px;
    padding-top: 20px;

    input {
      width: 100%;
      margin-bottom: 22px;
      padding: 12px 10px;
      border-radius: 8px;
      border: 1px solid #b6b6b6;

      color: #939393;
      font-size: 13px;
      font-weight: bold;

      &::placeholder {
        text-transform: uppercase;
      }
    }
  }

  &__counter-item {
    h4 {
      color: #b6b6b6;
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__counter-price {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 12px;

    .text {
      font-size: 14px;
      font-weight: 400;
    }

    .price {
      font-size: 14px;
      font-weight: 700;
    }
  }

  &__counter-total {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 14px;

    h4 {
      color: #b6b6b6;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }

    p {
      font-size: 21px;
      font-weight: 700;

      span {
        color: #8ac864;
        font-size: 21px;
        font-weight: 700;
      }
    }
  }

  &__privacy {
    padding: 0 10px;
    text-align: center;

    color: #b6b6b6;
    font-size: 10px;

    a {
      color: #8ac864;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.order-details {
  .title-wrapper {
    @include md-block {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__form {
    textarea {
      width: 100%;
      height: 153px;
      margin-bottom: 20px;
      padding: 11px;

      font-size: 14px;
      font-weight: 400;

      border-radius: 8px;
      border: 1px solid #b6b6b6;
    }

    .p-cart__btn {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  &__row {
    @include row-flex();
    padding: 20px 0;

    @include md-block() {
      padding-bottom: 0;
    }
  }

  &__col-4,
  &__col-5,
  &__col-9 {
    @include col();
    @include size-md(14);
    @include md-block() {
      margin-bottom: 20px;
    }
  }

  &__col-4 {
    @include size(4);
  }

  &__col-5 {
    @include size(5);
  }

  &__col-9 {
    @include size(9);
  }

  &__label {
    display: block;
    & > span {
      margin-bottom: 6px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
    }

    input,
    select {
      width: 100%;
      padding: 8px 10px;
      font-size: 14px;
      color: #4d4d4d;
      border-radius: 8px;
      border: 1px solid #b6b6b6;
    }
    
    select {
      appearance: none;
    }

    &--promo {
      margin-bottom: 49px;

      input {
        width: auto;
        margin-right: 10px;

        @include sm-block() {
          width: 100%;
          margin-bottom: 11px;
        }
      }

      button {
        display: inline-block;
        padding: 8px 13px;
        font-size: 14px;
        color: #ffffff;
        background: #8ac864;
        border: 1px solid #8ac864;
        border-radius: 8px;
        transition: all 0.15s linear;

        &:hover {
          color: #8ac864;
          background: #ffffff;
        }

        @include sm-block() {
          width: 100%;
        }
      }
    }

    &--withing,
    &--date {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 61%;
        right: 9px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 4.5px 0 4.5px;
        border-color: #8ac864 transparent transparent transparent;

        cursor: pointer;
        pointer-events: none;
      }

      select {
        cursor: pointer;
      }
    }
  }
}
