.hero {
  color: #ffffff;

  &__content {
    height: 559px;
    background-repeat: no-repeat;
    background-position: center;

    @include md-block() {
      height: 319px;
      background-size: cover;
    }

    @include sm400-block() {
      height: 148px;
    }
  }

  &__body {
    max-width: 532px;
    padding-top: 140px;

    @include md-block() {
      padding-top: 75px;
      padding-left: 20px;
      padding-right: 20px;
    }

    @include sm400-block() {
      padding-top: 32px;
    }
  }

  &__title {
    margin-bottom: 42px;

    @include md-block() {
      max-width: 280px;
      margin-bottom: 22px;
      font-size: 26px;
    }

    @include sm400-block() {
      margin-bottom: 16px;
      max-width: 140px;
      font-size: 13px;
    }
  }

  &__descr {
    margin-bottom: 56px;
    font-size: 16px;

    @include md-block() {
      font-size: 13px;
      margin-bottom: 22px;
    }

    @include sm400-block() {
      display: none;
    }
  }

  &__btn {
    display: inline-block;
    padding: 21px 19px;
    color: #ff3f3f;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid rgba(#ffffff, 0.5);
    text-transform: uppercase;
    transition: $base-transition;

    &:hover {
      color: #ffffff;
      background-color: #ff3f3f;
      border: 2px solid #ff3f3f;
    }

    @include md-block() {
      font-size: 13px;
      padding: 13px;
    }

    @include sm400-block() {
      margin-bottom: 16px;
      font-size: 13px;
    }
  }
}
