.hero {
  color: #ffffff;

  &__content {
    height: 559px;
    background-repeat: no-repeat !important;
    background-position: center !important;

    @include sm-block() {
      height: 500px;
    }
  }

  &__body {
    max-width: 532px;
    padding-top: 140px;
  }

  &__title {
    margin-bottom: 42px;

    @include sm-block() {
      margin-bottom: 25px;
    }
  }

  &__descr {
    margin-bottom: 56px;
    font-size: 16px;
  }

  &__btn {
    display: inline-block;
    padding: 21px 19px;
    color: #ff3f3f;
    font-size: 20px;
    font-weight: 700;
    border-radius: 6px;
    border: 2px solid rgba(#ffffff, 0.5);
    text-transform: uppercase;
    transition: $base-transition;

    &:hover {
      color: #ffffff;
      background-color: #ff3f3f;
      border: 2px solid #ff3f3f;
    }
  }
}
